<div class="container">
  <h2>Crear Contrato</h2>
  <br>
  <div class="breadcrumb">
      <span>area ></span>
      <span>Nuevo</span>
  </div>

  <div class="header">
      <div class="header-left">
          <h2>AREA</h2>
          <h1>2</h1>
      </div>
      <div class="header-right">
          <div class="circle-icon">
              <i class="fa-solid fa-people-group" style="font-size: 38px;"></i>
          </div>
      </div>
  </div>

  <div class="content">
      <div class="form-section">
          <h3>Agregar Nuevo contrato</h3>
          <form action="#">
              <label for="nombre">Nombre Contrato</label>
              <input type="text" id="nombre" name="nombre">
              <label for="nombre">Mese Montrato</label>
              <input type="text" id="nombre" name="nombre">
              <label for="nombre">Dia Contrato</label>
              <input type="text" id="nombre" name="nombre">
              <button type="submit">Crear</button>
          </form>
      </div>

      <div class="roles-section">
          <h3>Lista Contrato</h3>
          <ul>
              <li>
                  <img src="https://img.icons8.com/?size=100&id=FEDBnMFqHKMu&format=png&color=000000"
                      alt="rol icon">
                  <span>rol: Developer</span>
              </li>
              <br>
              <li>
                  <img src="https://img.icons8.com/?size=100&id=FEDBnMFqHKMu&format=png&color=000000"
                      alt="rol icon">
                  <span>rol: design</span>
              </li>
          </ul>
      </div>
  </div>
</div>
